body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 61, 43);
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* white-space: 20px; */
}
li {
  list-style: none;
  font-size: 50px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  /* overflow: hidden; */
}
li:before {
  content: attr(data-text);
  position: absolute;
  top: 20%;
  left: 20%;
  opacity: 0;
  transition: all 0.5s;
}
li:hover::before {
  transform: translate(10%, -10%);
  color: brown;
  font-size: 50px;
  z-index: 1;
  opacity: 1;
  -webkit-text-stroke: 1px brown;
}
li:after {
  content: attr(data-text);
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0;
  transition: all 0.5s;
}
li:hover::after {
  transform: translate(40%, -10%);
  color: rgb(148, 10, 253);
  font-size: 50px;
  z-index: 2;
  opacity: 1;
  -webkit-text-stroke: 1px rgb(148, 10, 253);
}
