body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 61, 43);
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;

  /* white-space: 20px; */
}
li {
  list-style: none;
  font-size: 50px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  /* overflow: hidden; */
}
li:before {
  content: attr(data-text);
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  color: aqua;
  border-right: 2px solid aqua;
  transition: all 0.5s;
}
li:hover::before {
  transform: translate(0);
}
