body {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 500px;
}
div {
  width: 200px;
  height: 100px;
  color: #fff;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 2px solid #09e7e7;
  background-color: rgb(20, 18, 18);
  /* overflow: hidden; */
  transition: all 1s ease 0.5s;
}
div:hover {
  background-color: brown;
}
div:before {
  content: "";
  position: absolute;
  left: 0;
  /* top: 0; */
  /* border: 2px solid brown; */
  width: 30%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 2s;
}
div:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0%;
  /* border: 2px solid brown; */
  width: 100%;
  height: 30%;
  background-color: #fff;
  transform: translateY(100%);
  transition: all 2s;
}
div:hover:before {
  transform: translateX(500%);
}
div:hover:after {
  transform: translateY(-500%);
}
/* ----------------------------------------------------------------------- */
button {
  width: 200px;
  height: 100px;
  color: transparent;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 2px solid #09e7e7;
  background-color: rgb(20, 18, 18);
  overflow: hidden;
  transition: all 1s ease 0.5s;
}
button:hover {
  background-color: brown;
}
button:before {
  content: "Yup!";
  color: blue;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  /* border: 2px solid brown; */
  width: 100%;
  height: 100%;
  background-color: #e0ea74;
  transform: translateX(0);
  transition: all 2s;
}
button:after {
  content: "Yup!";
  color: blue;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  left: -100%;
  bottom: 0%;
  /* border: 2px solid brown; */
  width: 100%;
  height: 100%;
  background-color: #e0ea74;
  transform: translateY(100%);
  transition: all 2s;
}
button:hover:before {
  transform: translate(100%, -100%);
}
button:hover:after {
  transform: translate(100%, 0%);
}
