body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 500px;
}
div {
  width: 200px;
  height: 100px;
  color: #4c0ae8;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  position: relative;
  letter-spacing: -2;
  border: 2px solid #09e7e7;
  transition: all 1s;
}
div:hover {
  transform: scale(1.5);
  border: 7px solid #0b6ddd;
  font-size: larger;
  letter-spacing: 5;
  border-radius: 50%;
}
